In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
names = []
prices = []
ratings = []

In [4]:
pages = list(range(1,5))
for page in pages:
    url = requests.get('https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}'.format(page)).text
    result = BeautifulSoup(url, 'html.parser')
        
    nm= result.find_all('div', class_ = '_4rR01T')
    for i in range(len(nm)):
        names.append(nm[i].text)
    print(len(names))
            
        
    pr= result.find_all('div', class_ = '_30jeq3 _1_WHN1')
    for i in range(len(pr)):
        prices.append(pr[i].text)
    print(len(prices))
            
            
    rt= result.find_all('div', class_ = '_3LWZlK')
    for i in range(len(rt)):
        ratings.append(rt[i].text)
    print(len(ratings))

120
120
195
144
144
234
168
168
273
192
192
312

In [6]:
data = list(zip(names, prices, ratings))

In [8]:
df= pd.DataFrame(data = data, columns = ['Names', 'Prices', 'Ratings'] )
df

                                      Names   Prices Ratings
0      REDMI 9i Sport (Carbon Black, 64 GB)   ₹8,799     4.4
1       REDMI 9i Sport (Coral Green, 64 GB)   ₹8,799     4.4
2         realme C25_Y (Metal Grey, 128 GB)  ₹11,999     4.5
3       realme C25_Y (Glacier Blue, 128 GB)  ₹11,999     4.5
4              POCO C31 (Royal Blue, 64 GB)   ₹8,999     4.4
..                                      ...      ...     ...
187   MOTOROLA g31 (Meteorite Grey, 128 GB)  ₹14,999       5
188         realme 8 (Cyber Silver, 128 GB)  ₹15,999       5
189     Infinix Hot 11S (Green Wave, 64 GB)  ₹10,499     4.4
190         realme 8 (Cyber Silver, 128 GB)  ₹17,999       4
191  SAMSUNG Galaxy M32 (Light Blue, 64 GB)  ₹14,599       4

[192 rows x 3 columns]